# === General ===
*.log
hs_err_pid*.log
.DS_Store

# === Node/React Frontend ===
/frontend/e-voting_biometric-auth/node_modules/
/frontend/e-voting_biometric-auth/.vite/
/frontend/e-voting_biometric-auth/dist/

# === Java/Maven Backend ===
/backend/java/target/
/backend/java/.classpath
/backend/java/.project
/backend/java/.settings/

# === PHP Backend ===
/backend/php/vendor/
/backend/php/.env

# General
*.log
*.class
*.jar
*.war
*.iml
.DS_Store
.env
